/*======= Font rengini #3C373B yapan bir yeni bir universal selector yaratın*/
* {
  color: #3c373b;
}
h1 {
  font-family: "Gaegu", cursive;
  margin: 10px 0;
  /*=======  Font size'ı 60px yapın ve text'i ortalayın(center) */
  text-align: center;
  font-size: 60px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Gaegu", cursive;
  margin-bottom: 0;
  padding: 0 10px;
  /*=======  Font size'ı 30px yapın*/
  font-size: 30px;
}

p {
  font-size: 16px;
  font-family: roboto;
  padding: 10px;
  line-height: 1.4;
  margin: 0px;
}

.banner {
  border-radius: 10px;
  width: 740px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

#yemek {
  width: 50%;
  height: 50%;
  border-radius: 10px;
}

#aperatif {
  width: 25%;
  border-radius: 10px;
}

#tatli {
  width: 25%;
  border-radius: 10px;
}
.content-row {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.content-row div {
  margin: 20px;
}

.container {
  width: 750px;
  margin: 0 auto;
}

.container header nav a {
  margin: 0 10px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  background: #e79947;
}

.container header nav a:hover {
  background: white;
  color: #e79947;
}

/*======= Hakkmızda bölümü için aşağıdaki stilleri içeren bir selector yaratın:
  margin-top: 20px;
*/

.contact-section {
  border-top: 1px dashed black;
  padding: 20px 0;
}

.contact-section h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

/*======= contact-section class'da address tag'i için aşağdıaki stilleri içeren bir selector yaratın:
   line-height: 2;
*/

footer {
  width: 100%;
  background: #e79947;
  border-top: 1px dashed;
}

footer .footer-content {
  margin: 0 auto;
  width: 750px;
}

footer .footer-content h3 {
  padding: 0;
  margin-top: 10px;
}

footer nav {
  display: flex;
}

footer nav a {
  margin: 10px;
  color: black;
  text-decoration: underline;
}

footer nav a:first-child {
  margin-left: 0;
}

footer nav a:hover {
  color: white;
}
/*======= Footer nav'daki anchor tag için aşağıdaki stilleri içeren bir hover state yaratın:
  color: white;
*/

footer .footer-content .copyright {
  padding: 20px 0;
  text-align: center;
  border-top: none; /*======= metni ortalayacak kodu yazın */
}
