* {
  color: #3C373B
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Baloo 2', cursive;
  margin: 20px 0;
  font-size: 60px;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Baloo 2', cursive;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 30px;
}

p {
  font-size: 16px;
  font-family: roboto;
  padding: 10px;
  line-height: 1.4;
}

a {
  font-family: 'Baloo 2', cursive;
}

img {
  border-radius: 10px;
  width: 100%;
}

.content-row {
  display: flex;
}

.content-row img {
  width: 325px;
}

.content-row div {
  margin: 20px;
}

.container {
  margin: 0 auto;
  width: 750px;
}

.container header nav a {
  font-family: 'Gauge', cursive;
  margin: 0 5px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  background: #E79947;
}

.container header nav a:hover {
  background: white;
  color: #E79947;
}

.about-us {
  margin-top: 20px;
}

.contact-section {
  border-top: 1px dashed black;
  padding: 20px 0;
}

.contact-section h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

.contact-section address {
  line-height: 2;
}

footer {
  width: 100%;
  background: #E79947;
  border-top: 1px dashed white;
}

footer a {
  font-family: 'Baloo 2', cursive;
  margin: 10px;
  color: black;
  text-decoration: underline;
}

footer .footer-content {
  margin: 0 auto;
  width: 750px;
}

footer .footer-content h3 {
  padding: 0;
  margin: 20px 0;
}

footer nav {
  display: flex;
}

footer nav a {
  margin: 10px;
  color: black;
  text-decoration: underline;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'Baloo 2', cursive;
}

footer nav a:first-child {
  margin-left: 0;
}

footer nav a:hover {
  color: white;
}

footer .footer-content .copyright {
  padding: 20px 0;
  text-align: center;
  font-size: small;
}